*{
    margin: 0;
    padding: auto;
}

progress {

    margin: 50px 0 8px;
    width: 90px;
}

.content-aba {

    background: rgb(12, 12, 12);
    padding: 10px;
}

.title  {

    color: bisque;
}

.subtitle {

    color: rgb(164, 198, 247);
}

.tag {

    margin: 5px 2px;   
}

i {
    font-size: 150%;
    color: rgb(255, 255, 255);
    padding: 2px;
    
}

a {
    color: white;
    font-size: 65%;
    
}

 a:hover {
    color: white;
}

.border-box {

    margin: 5px;
    padding: 2px;
    border-bottom: 1px solid rgb(196, 190, 190);
    width: 100%;
}

.border {
    width: 50%;

}

span {
    padding: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    
}

input {
    margin-left: 20px;
    background: rgb(7, 147, 58);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
strong {

    margin-left: 20px;
}

label {
    margin-left: 20px;
}

form {

    border: 1px solid darkblue;
    border-radius: 2px;
    margin: 1%;
    padding: 10px;
}

button {

    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}


.res {

    padding-left: 20px;
}
